version: '3'
services:
  dash:
    # command: python3 main.py
    image: mla1:latest
    build:
     context: .
     dockerfile: .dockerfile
    ports:
      - 9001:80 
    volumes:
      - ./source_code:/root/code
      - ./.vscode-server:/root/.vscode-server
    environment:
      - HOST=0.0.0.0
      - PORT=80
#     labels:
#       # Allow Traefik to talk with your service
#       - traefik.enable=true
#       # Tell Traefik to use port 80
#       - traefik.http.services.<service_name>-<folder_name>.loadbalancer.server.port=80
#       # This config you domain name. By default, your subdomain is <service_name>-<folder_name>
#       # If you which to change the subdomain name, you uncomment the below configuration
#       # - traefik.http.routers.<service_name>-<folder_name>.rule=Host(`<subdomain>.ml2023.cs.ait.ac.th`)
#       # Below is for enable SSL.
#       - traefik.http.routers.<service_name>-<folder_name>.tls=true
#       - traefik.http.routers.<service_name>-<folder_name>.tls.certresolver=production
#       - traefik.http.routers.<service_name>-<folder_name>.entrypoints=websecure
#     # This define network. You would need to keep it like this.
#   networks:
#       - default
#       - traefik_default

# # Keep it like this too.
# networks:
#   default:
#   traefik_default:
#     external: true